{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron">
    <h2>Customer Map</h2>
    <div id="map" style="height: 400px;"></div>
  </div>

  <div class="jumbotron">
    <h2>Ona Data Table</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Full Name</th>
          <th scope="col">County</th>
          <th scope="col">Priority Program</th>
          <th scope="col">Preffered Budget(%)</th>
          <th scope="col">Location(x,y)</th>
        </tr>
      </thead>
      <tbody>
        {% for data in app_data %}
        <tr >
          <th scope="row">1</th>
          <td>{{ data.get('Full_Name') }}</td>
          <td>{{ data.get('County') }}</td>
          <td>{{ data.get('Which_of_the_followi_should_spend_more_on') }}</td>
          <td>{{ data.get('Please_select_an_app_a_you_selected_above') }}</td>
          <td>{{ data.get('_geolocation') }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script>
    // set map epicenter
    var map = L.map('map').setView([-1.2921, 36.8219], 13);
    // add tiles, api, token etc to pull maptiles
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
          attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
          maxZoom: 18,
          id: 'mapbox/streets-v11',
          tileSize: 512,
          zoomOffset: -1,
          accessToken: 'pk.eyJ1Ijoia2lwbmdldGljaDMzIiwiYSI6ImNqdWU1NDc3ZDBoYjQ0ZW9odHdqNzMybXMifQ.Zm_NuCEVU4UraKPMae29IQ'
      }).addTo(map);
    // now add markers here
    $( document ).ready(function() {
        console.log( "ready!" );
        $.ajax({url: "/ona_data", success: function(response){
          console.log(response)
          process_response(response)
        }});
    }); 

    function process_response(response){
      var bounds = []
      response.data.forEach(element => {
        console.log(element._geolocation[0])
        var marker = L.marker([element._geolocation[0],element._geolocation[1]]).addTo(map);
        let popUpMessage = addPopInfo(element)
        marker.bindPopup(popUpMessage).openPopup();
        //add onhover functionality
        marker.on('mouseover',function(ev) {
          marker.openPopup();
        });
        // add bounds to map
        bounds.push([element._geolocation[0],element._geolocation[1]])
      });
      // now set maps bounds
      map.fitBounds(bounds);
    }

    function addPopInfo(element){
      let formated_message = "";
      formated_message += `<b>Name :</b>${element.Full_Name} </br>`
      formated_message += `<b> County :</b>${element.County} </br>`
      formated_message += `Priority Program :${element.Which_of_the_followi_should_spend_more_on} </b>`
      let priorityProgramBudget = "0%"; //initialize as zero
      if(element.Please_select_an_app_a_you_selected_above == '10__or_less'){
        priorityProgramBudget = "10% or less";
      }else if(element.Please_select_an_app_a_you_selected_above == '25__or_less'){
        priorityProgramBudget = "25% or less";
      }else if(element.Please_select_an_app_a_you_selected_above == '35__or_less'){
        priorityProgramBudget = "25% or less";
      }else if(element.Please_select_an_app_a_you_selected_above == '50__or_less'){
        priorityProgramBudget = "50% or less"
      }else{
        priorityProgramBudget = "More than 50%"
      }
      formated_message += `<b>Preffered Budget :</b>${priorityProgramBudget}`
      // return the formated_message
      return formated_message
    }
  </script>
{% endblock %}
